@charset "utf-8";
*{
    font-family:Arial, Helvetica, sans-serif
}
body{
    background-color: rgb(157, 210, 240);
  }
 body {
    
   
    
  background-image:  url(alagoas.png);
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
main{
    background-color: white;
    width: 900px;
    height: 4400px;
    padding: 10px;
    margin: auto;
    border-radius: 20px;
}
h1{
    background-color:hsl(145, 41%, 33%);
    color: white;
    text-align: center;
    font-family:Monolisa;
    font: size 30px;;
    
}
h2{
   
    color: hsl(145, 41%, 33%);
    font-family: Monolisa;
    font: size 25px;;
}

p{
    font-family:Arial, Helvetica, sans-serif ;
    color: #000000;
    font-size:16px;
    text-align: justify;
    
    margin: 40px;

}
.conteiner{
    text-align: center;
    margin:auto;
    height: 40px;
    font-size: larger;
    background-position: center;
   
   }
   .btn{
     background-color:  rgb(255, 255, 255);
     color: #fff9f9;
     border-radius: 10px;
     padding: 10px 15px;
     cursor:pointer;
     display: inline-block;
     text-align: center;
     background-position: center;
     align-items: center;
     font-family:Georgia, 'Times New Roman', Times, serif
     
   }   
header{
    padding: auto;
     margin:auto;
     width: auto;
     height: 100px;
     background-position: center;
     background-size:contain;
     text-align: center;
     
    }
    nav{
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-top: 30px;
      align-self: center;
      text-align: center;
    
    }
    nav ul{
      display: flex;
      align-items: center;
      text-align: center;
      color: rgb(9, 26, 102);
      margin: 0 5cqmin;
      text-transform:none;
      font-size: 12PX;
      align-items: center;
      display: block;
      align-self: center;
      text-align: center;
    
    }
    
    nav ul a{
      color: rgb(4, 9, 29);
      margin: 0 5cqmin;
      text-transform:lowercase;
      font-size: 12PX;
      align-items: center;
      display: block;
      align-self: center;
      text-align: center;
    
    }
    
    div{
      color:  rgb(4, 8, 27);
      margin: 0 10px;
      text-transform: uppercase;
      font-size: 12PX;
      align-items: center;
      display: block;
      align-self: center;
      text-align: center;
    }
    
    section,
    footer{
      color:  rgb(9, 26, 102);
      margin: 0 10px;
      text-transform: uppercase;
      font-size: 12PX;
      align-items: center;
      display: block;
      align-self: center;
      text-align: center;
    }
      
    
      nav{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-top: 30px;
        align-self:baseline;
        text-align: center;
      
      }
      .hero.hero-category.hero-category-color-scheme-2 {
        background-color: #c9deed;
      }
    